@tailwind base;
@tailwind components;
@tailwind utilities;

  /* custom input placeholder sm  */

.input-placeholder-sm::placeholder {
    font-size: 0.85rem; 
    opacity: 1; 
  }

  /* custom border focus  */

  .custom-focus-border:focus {
    border-width: 0px; 
    border-bottom-width: 2px;
  }

/* custom dropdown */

  .dropdown-menu {
    border-top-width: 1px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1050;
    width: w-full;
    max-width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  

/* custom switch */
  
  .switch-container {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 25px;
  }
  
  .switch-checkbox {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }
  
  .switch-label {
    background-color: #f7f8fa;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    transition: background-color 0.2s;
  }
  
  .switch-label .switch-slider {
    position: absolute;
    bottom: 2px;
    left: 4px;
    background-color: white;
    transition: 0.2s;
    height: 21px;
    width: 16px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  }
  
  .switch-checkbox:checked+.switch-label .switch-slider {
    transform: translateX(26px);
  }
  
  .switch-checkbox:checked+.switch-label {
    background-color: #1343ef;
  }
  
  .switch-text {
    color: gray;
    position: absolute;
    width: 100%;
    line-height: 27px;
    font-size: 10px;
    transition: transform 0.3s ease;
    transform: translateX(-12px);
  }
  
  .text-active {
    transform: translateX(-32px);
    color: white
  }

  input {
    box-sizing: border-box;
    border: 2px solid transparent; /* Reserve space for the border */
  }